
/.mixin.out
/crash-reports
/exposures
/figura
/logs
/mods/.connector
/openvr
/saves
/schematics
/screenshots
/shaderpacks
options.txt
usercache.json
usernamecache.json
/downloads
config/everycomp-hazardous.properties
config/fabric/indigo-renderer.properties
config/iris.properties
command_history.txt
