
/.mixin.out
/crash-reports
/exposures
/figura
/logs
/mods/.connector
/openvr
/saves
/schematics
/screenshots
/shaderpacks
options.txt
usercache.json
usernamecache.json
/downloads
config/everycomp-hazardous.properties
config/fabric/indigo-renderer.properties
config/iris.properties
command_history.txt
/fancymenu_data
emi.json
servers.dat_old
realms_persistence.json
/data
/config/spark/tmp-client
config/everycomp-hazardous.properties
config/fabric/indigo-renderer.properties
config/ambiance.json
config/do_a_barrel_roll-client.json
config/eg_particle_interactions_config.json
config/emi.css
config/emi_loot_config.toml
config/enchdesc.json
config/everycomp-hazardous.properties
config/exmi/enable_config.json
config/fabric/indigo-renderer.properties
config/fancymenu/legacy_checklist.txt
config/fancymenu/ui_themes/dark.json
config/fancymenu/ui_themes/light.json
config/fancymenu/user_variables.db
config/figura.json
config/flywheel-client-1.toml.bak
config/flywheel-client.toml
config/immediatelyfast.json
config/immersive_aircraft.json
config/immersive_optimization.json
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
config/lithostitched.json
config/modernfix-mixins.properties
config/neruina.json
config/NoChatReports/NCR-Client.json
config/NoChatReports/NCR-Common.json
config/NoChatReports/NCR-Encryption.json
config/NoChatReports/NCR-ServerPreferences.json
config/NoChatReports/README.md
config/rightclickharvest.json5
config/sodium-extra-options.json
config/sodium-fingerprint.json
config/sodium-options.json
config/structure_layout_optimizer.jsonc
config/tectonic.json
config/vivecraft-client-config.json
config/sodium-fingerprint.json
*.bak
/debug
config/fabric/indigo-renderer.properties
config/everycomp-hazardous.properties
/config/voicechat
/config/ars_nouveau/search_index
/config/ars_nouveau/search_index
fabricloader.log
config/everycomp-hazardous.properties
config/fabric/indigo-renderer.properties
/tacz_backup
/immersive_paintings_cache
config/packetfixer.properties
/dynamic-resource-pack-cache
/dynamic-resource-pack-cache
/dynamic-data-pack-cache
